<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.0/datatables.min.css" 
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div id="knopka" class="btn btn-primary mb-2"> Раскрыть список</div>
    <!-- <div id="flip">Click to slide the panel down or up </div> -->
    
    <div id="panel">
   
        
    <h2>Проекты</h2>
    <hr/>
    <a th:href="@{/addData}" class="btn btn-primary mb-2">Добавить проект</a>

    <table class="table table-bordered table-striped" id="project-table" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th>Действия с проектами</th>
                       
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.description}"></td>
            <td th:text="${project.createdDate}"></td>
            <td>
                <a th:href="@{/usersProject(id=${project.id})}" class="btn btn-info btn-sm ">Участники<br>проекта</a>
                <a th:href="@{/updateData(id=${project.id})}" class="btn btn-warning btn-sm ml-2">Обновить</a>
                <a th:href="@{/deleteData(id=${project.id})}" class="btn btn-danger  btn-sm ml-2">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.0/datatables.min.js"></script>
 <script> 
    $(document).ready(function(){
      $("#knopka").click(function(){
        $("#panel").slideToggle("slow");
      });
    });
    </script> 
<script>
    $(document).ready(function() {
        $("#project-table").dataTable({
            'aoColumnDefs': [{
                'bSortable':false,
                'aTargets': [-1]
            }]
        });
    })
</script>
</body>
</html>